@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&family=Staatliches&display=swap');
@keyframes animation1 {
    from{
        opacity: 0;
        margin: 0;
    }
    to{
        opacity: 1 ;
        margin-right: 330px;
    }
}
@keyframes animation2 {
    from{
        opacity: 0;
        margin: 0;
    }
    to{
        opacity: 1 ;
        margin-right: 220px;
    }
}
*{
    padding: 0;
    margin: 0;
}
.fundo{
    font-family: 'Dosis', sans-serif;
    background-image: url(bg1_2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding-bottom: 60px;
}
header{
    padding-bottom: 60px;
}
header .container .row .col-12 h1{
    font-family: 'Staatliches', cursive;
    font-size: 60px;
    color: rgba(0, 0, 0, 0.596);
}
main .container .row .col-12{
    padding-left: 20px;
    font-size: 20px;
    font-family: 'Dosis', sans-serif;
    margin-top: 15%;
    margin-right: 0.5%;
    color: #66417A;
}
main .container .row .col-12 h1{
   padding-right: 50px;
}
.navbar .container .collapse .navbar-nav{
    margin-left: auto;
}
.navbar .container .navbar-brand{
    width: 282px;
    height: 110px;
    background-image: url(LOGO.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    text-indent: -3000px;
}
.navbar .container a{
    color: #66417A;
}
.botao{
    border: 2px solid #66417A !important;
    margin-left: 20px;
    width: 100px;
    font-weight: 900 !important;
}
.botao:hover{
    color: white !important;
    background-color: #66417A !important;
}
.botao2{
    background-color: #0EA091 !important;
    border: 2px solid #0EA091 !important;
    width: 100px;
    font-weight: 900 !important;
}
.botao2:hover{
    background-color: #097267 !important;
    
}
header .container .row .ani1{
   animation: animation1;
   animation-duration: 4s;
   animation-iteration-count: 1;
   animation-direction: inherit;
   opacity: 1 ;
   margin-right: 330px;
   padding: 10px;
}
header .container .row .ani2{
    animation: animation2;
    animation-duration: 4s;
    animation-iteration-count: 1;
    animation-direction: inherit;
    margin-left: 220px;
    opacity: 1 ;
}
.rede{
    position: fixed;
    width: 68px;
    height: 160px;
    background-color: #66417A;
    border-radius: 0 30px 30px 0;
    top: 40%;
}
.rede i{
    float: left;
    color: #DFB2FA;
    font-size: 40px;
    margin-top: 8px;
    margin-left: 10px;
}
.rede i:hover{
    
    color: white;
    transition: 0.4s;
    
}
.headline, .headline2{
 visibility: hidden;
}
@media (max-width: 435px) {

    @keyframes animation1 {
        from{
            opacity: 0;
            margin: 0;
        }
        to{
            opacity: 1 ;
            margin-right: 265px;
            padding: 10px;
        }
    }
    @keyframes animation2 {
        from{
            opacity: 0;
            margin: 0;
            margin-top: 140px;
        }
        to{
            margin-left: 255px;
            opacity: 1 ;
            margin-top: 140px;
        }
    }
    
    
    .fundo{
        background-size: 1200px;
        background-attachment: local;
        background-position: top center;
        padding-bottom: 0px;
    }
    .navbar .container .navbar-brand{
        width: 232px;
        height: 90px;
        background-size: contain;  
    }
    header {
        margin-bottom: 120px;
    }
    header .container .row .col-12 h1{
        font-size: 30px;
    }
    header .container .row .ani1 img{
        width: 80px;

    }
    header .container .row .ani1{
        margin-right: 265px;
    }
     header .container .row .ani2 img{
        width: 80px;

    }
     header .container .row .ani2{
        margin-left: 255px;
        margin-top: 140px;
    }
    main{
        background-color: white;
        padding: 15px 0;
        
    }
    main .container .row .col-12{
        margin-top: 0%;
        margin-right: 0%;
    }
    main .container .row .col-12 h1{
        text-align: center !important;
        padding-right: 0px;
        margin-bottom: 30px;
       
    }
    .rede{
        width: 100%;
        height: 550px;
        border-radius: 10px 10px 0px 0px;
        top: 92%;
    }
    .rede i{
        font-size: 40px;
        margin-bottom: 15px;
        padding-left: 15%;
       
    }
    .botao{
       margin-left: 0px;
       
    }
    
}
@media (min-width: 435px) and (max-width: 525px) {
        @keyframes animation1 {
            from{
                opacity: 0;
                margin: 0;
            }
            to{
                opacity: 1 ;
                margin-right: 320px;
                padding: 10px;
            }
        }
        @keyframes animation2 {
            from{
                opacity: 0;
                margin: 0;
                margin-top: 120px;
            }
            to{
                margin-left: 295px;
                opacity: 1 ;
                margin-top: 120px;
            }
        }

    .fundo{
        background-size: 1300px;
        background-attachment: local;
        background-position: top center;
        padding-bottom: 0px;
    }
    header .container .row .col-12 h1{
        font-size: 40px;
    }
    header .container .row .ani1{
        margin-right: 320px;
       
    }
    header .container .row .ani1 img{
        width: 100px;

    }
    header .container .row .ani2{
        margin-left: 295px;
        margin-top: 120px;
    }
    header .container .row .ani2 img{
        width: 100px;

    }
    main{
        background-color: white;
        padding: 15px 0;
        
     }
     main .container .row .col-12{
        margin-top: 0%;
        margin-right: 0%;
    }
    main .container .row .col-12 h1{
        text-align: center !important;
        padding-right: 0px;
        margin-bottom: 30px;
       
    }
    
}
@media (min-width: 525px) and (max-width: 760px) {
    @keyframes animation1 {
        from{
            opacity: 0;
            margin: 0;
        }
        to{
            opacity: 1 ;
            margin-right: 370px;
            padding: 10px;
        }
    }
    @keyframes animation2 {
        from{
            opacity: 0;
            margin: 0;
            margin-top: 105px;
        }
        to{
            margin-left: 375px;
            opacity: 1 ;
            margin-top: 105px;
        }
    }

.fundo{
    background-size: 1300px;
    background-attachment: local;
    background-position: top center;
    padding-bottom: 0px;
}
header .container .row .col-12 h1{
    font-size: 40px;
}
header .container .row .ani1{
    margin-right: 370px;
   
}
header .container .row .ani1 img{
    width: 120px;

}
header .container .row .ani2{
    margin-left: 375px;
    margin-top: 105px;
}
header .container .row .ani2 img{
    width: 120px;

}
main{
    background-color: white;
    padding: 15px 0;
    
 }
 main .container .row .col-12{
    margin-top: 0%;
    margin-right: 0%;
}
main .container .row .col-12 h1{
    text-align: center !important;
    padding-right: 0px;
    margin-bottom: 30px;
   
}

}
@media (min-width: 761px) and (max-width: 992px) {
    @keyframes animation1 {
        from{
            opacity: 0;
            margin: 0;
        }
        to{
            opacity: 1 ;
            margin-right: 150px;
            padding: 10px;
        }
    }
    @keyframes animation2 {
        from{
            opacity: 0;
            margin: 0;
            margin-top: 105px;
        }
        to{
            margin-left: 120px;
            opacity: 1 ;
            margin-top: 105px;
        }
    }

.fundo{
    background-size: 1300px;
    background-attachment: local;
    background-position: top center;
    padding-bottom: 0px;
}
header .container .row .col-12 h1{
    font-size: 40px;
}
header .container .row .ani1{
    margin-right: 150px;
      
}
header .container .row .ani1 img{
    width: 120px;

}
header .container .row .ani2{
    margin-left: 120px;
    margin-top: 105px;
}
header .container .row .ani2 img{
    width: 120px;

}
main{
    background-color: white;
    padding: 15px 0;
    
 }
 main .container .row .col-12{
    margin-top: 0%;
    margin-right: 0%;
}
main .container .row .col-12 h1{
    text-align: center !important;
    padding-right: 0px;
    margin-bottom: 30px;
   
}

}
@media (min-width: 993px) and (max-width: 1200px) {
    @keyframes animation1 {
        from{
            opacity: 0;
            margin: 0;
        }
        to{
            opacity: 1 ;
            margin-right: 198px;
            padding: 10px;
        }
    }
    @keyframes animation2 {
        from{
            opacity: 0;
            margin: 0;
            margin-top: 80px;
        }
        to{
            margin-left: 165px;
            opacity: 1 ;
            margin-top: 80px;
        }
    }
    
.fundo{
    background-position: top center;
    padding-bottom: 0px;
}
header .container .row .ani1{
    margin-right: 198px;
      
}
header .container .row .ani1 img{
    width: 150px;

}
header .container .row .ani2{
    margin-left: 165px;
    margin-top: 80px;
}
header .container .row .ani2 img{
    width: 150px;

}
}
